[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/ImGuizmo"]
	path = ext/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "ext/cmrc"]
	path = ext/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "ext/nativefiledialog"]
	path = ext/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
