[submodule "ext/glew-cmake"]
	path = ext/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/expected"]
	path = ext/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "ext/nativefiledialog"]
	path = ext/nativefiledialog
	url = https://github.com/AlvaroBarua/nativefiledialog.git
	branch = CMakeLists