name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check:
    if: github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref == 'refs/heads/main')
    runs-on: windows-latest
    steps:
       # intentionally without submodules since all the checking commands won't need stuff in /ext
       # if this assumption changes, we need to add submodules here
      - name: Checkout
        uses: actions/checkout@v4

      - name: Bootstrap tooling
        shell: pwsh
        run: |
          .\tools\bootstrap.ps1

      - name: Check formatting
        shell: pwsh
        run: |
          .\pts.cmd format --verify

  build:
    needs: check
    if: github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref == 'refs/heads/main')
    runs-on: windows-latest
    steps:
      - name: Checkout (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Bootstrap tooling
        shell: pwsh
        run: |
          .\tools\bootstrap.ps1

      - name: Configure Conan + build
        shell: pwsh
        run: |
          .\pts.cmd build --build-type Release
          .\pts.cmd build --build-type Debug